*{
    cursor: pointer;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
     height:200px;
    width: 300px;
    margin:30px;
    padding-right: 19px;  
    border: 3px solid #000000;
    border-radius: 30px;
    font-size: 20px;
    filter: drop-shadow(0px 0px 12px rgb(255, 0, 183)); 
}

 li{
    list-style: none;
}

a{
    background-color: rgb(6, 147, 6);
    color: rgb(255, 255, 255);
    position: relative;
    left: 20px;
    top: 10px;
    margin-left: 30px; 
    width: 100px;
    height: 30px;
    text-decoration: none;
}

.kunal{
    height: 50px;
    width: 170px;
    font-size: 40px;
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    animation-name:move;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

.kumar{
    position:absolute;
    top: 200px;
    color: white;
    transition: all;
    transition-duration: 4s;
}
.hub{
    background-color: rgb(255, 166, 0);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin-right: 20px;
    display: inline;
}

h1{
    font-size:large;
    color: rgb(38, 8, 238);
    text-align: center;
    border: 2px double rgb(214, 9, 9);
    border-radius: 30px;
    margin-left: 20px;
    background-color:wheat;
}
a:hover{
    background-color:rgb(4, 164, 4) ;
}
h1:active{
    background-color: fuchsia;
    color: black;
}
a:active{
    background-color: brown;
    color: honeydew;
}

@keyframes move{
    from{
        left:0px;
    }
    to{
        left: 1400px;
    }
}


#video{
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
     height: 100%; 
    object-fit: cover;
    object-position: center;
    z-index: -1;

}
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.audio{
    height: 40px;
    width: 120px;
    color: blue;
    position:absolute;
    left:0%;
    top: 0%;
    background-color: white;
    border:2px dotted black ;
}